<div style="text-align:center" class="container-fluid">
  <div id="selectors" class="navbar navbar-default">
    <ul class="nav nav-tabs ">
      <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <!--onderliggenden mogen enkel getoond worden als gebruiker ingelogd is-->
      <li role="presentation" routerLinkActive="active"><a routerLink='/jobs'>Jobs</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink='/contacts'>Contacts</a></li>
      <!--mag enkel getoond worden als gebruiker niet ingelogd is-->
      <li role="presentation" routerLinkActive="active"><a routerLink='/login'>Login</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
<!--
  debug/test subitems
  <app-job-card></app-job-card>
  <app-contact-card></app-contact-card>
  -->
</div>
